.text_input {
    margin: 10px;
    width: 200px;
    text-align: center;
     
}

.input {
    margin-bottom: 20px;
    

}

.button {
    background-color: orange;
    margin: 10px;
    border: 1px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
    border-radius: 3px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 3px 20px 0 rgba(0,0,0,0.19);

}

.button:hover {
    background-color: red; 
    color: white;
}


